/*-------------------------Login Form --------------------------- */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
  font-family: 'Lato';
  font-size: 14px;
}
.form .thumbnail {
  background: #EF3B3A;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #EF3B3A;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.form .register-form {
  display: block;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 18px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 500;
  color: white;
  font-family: 'Lato';
}
.container .info span {
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Lato';
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.cognito {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 700px;
  border-radius: 5px;
  padding-top: 30px;
  background: transparent;
}

/*------------------------- Body of Home Page ------------------------*/ 
.wrapper {
	width: 1010px;
	height:auto;
	margin: 40px auto;
}

.bodycontent1 {
	width: auto;
	height: auto;
	margin: 10px auto;
	padding: 10px;
	background-color: #1C1C1C;
	opacity: 0.92;
}

.bodycontent1 div#featured p{
	width: auto;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height:25px;
	text-align:justify;
	margin:10px;
}

.bodycontent1 div#featured h3{
	width: auto;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	line-height:25px;
	text-align:center;
	margin:10px;
}

.bodycontent1 ul.blog li:first-child{
	margin:30px auto;
}

.bodycontent1 ul.blog li{
	float: left;
	margin:30px 0 0 50px;
	width: 190px;
	height:auto;
	padding:10px;
	background-color: white;
}

.bodycontent1 ul.blog li div{
	width:100%;
	height:100%;
	text-align:center;
	float:left;
	margin:0 auto;
}

.bodycontent1 ul li div a img{
	max-width: 100%;
	max-height: 100%;
	margin:0 auto;
}
.bodycontent1 ul li div a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.bodycontent1 ul li div p{
	width:auto;
	text-align:center;
	color: black;
	font-family: 'Lato', sans-serif;
	margin:10px 0 0 10px;
	font-size:15px;
	padding:0;
}

.bodycontent1 ul li div p:hover{
	cursor: default;
}
	
/*------------Body background of all pages-----------------*/	

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: url(http://www.colorado.edu/engineering/sites/default/files/arial_straight.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

body #facultyhome {
	background:none;
}