<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Applications | Student</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/facultypage.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/personal/images/favicon_cuboulder.png">
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/personal/js/script.js"></script>
	<script>
		function Project1(){
			var Project1 = document.getElementById("id_First_Preference").value;			
			
			{% for n,val in projectRequirementDic.items %}
				if (Project1 == {{n}}) {
					document.querySelector('label[for="id_P1_Req1"]').style.display = "block";
					document.querySelector('label[for="id_P1_Req1"]').textContent = "{{val.0}}";
					document.getElementById("id_P1_Req1").style.display = "block";
					
					document.querySelector('label[for="id_P1_Req2"]').style.display = "block";
					document.querySelector('label[for="id_P1_Req2"]').textContent = "{{val.1}}";
					document.getElementById("id_P1_Req2").style.display = "block";
					
					document.querySelector('label[for="id_P1_Req3"]').style.display = "block";
					document.querySelector('label[for="id_P1_Req3"]').textContent = "{{val.2}}";
					document.getElementById("id_P1_Req3").style.display = "block";
				}
				
				else if (Project1 == 0){
					try { 
						document.querySelector('label[for="id_P1_Req1"]').style.display = "none";
						document.getElementById("id_P1_Req1").style.display = "none";
						
						document.querySelector('label[for="id_P1_Req2"]').style.display = "none";
						document.getElementById("id_P1_Req2").style.display = "none";
						
						document.querySelector('label[for="id_P1_Req3"]').style.display = "none";
						document.getElementById("id_P1_Req3").style.display = "none";
					}
					catch (error){
					}
				}
			{% endfor %}
		}
			
		function Project2(){
			var Project2 = document.getElementById("id_Two_Preference").value;			
			
			{% for n,val in projectRequirementDic.items %}
				if (Project2 == {{n}}) {
					document.querySelector('label[for="id_P2_Req1"]').style.display = "block";
					document.querySelector('label[for="id_P2_Req1"]').textContent = "{{val.0}}";
					document.getElementById("id_P2_Req1").style.display = "block";
					
					document.querySelector('label[for="id_P2_Req2"]').style.display = "block";
					document.querySelector('label[for="id_P2_Req2"]').textContent = "{{val.1}}";
					document.getElementById("id_P2_Req2").style.display = "block";
					
					document.querySelector('label[for="id_P2_Req3"]').style.display = "block";
					document.querySelector('label[for="id_P2_Req3"]').textContent = "{{val.2}}";
					document.getElementById("id_P2_Req3").style.display = "block";
				}
				
				else if (Project2 == 0){
					try { 
						document.querySelector('label[for="id_P2_Req1"]').style.display = "none";
						document.getElementById("id_P2_Req1").style.display = "none";
						
						document.querySelector('label[for="id_P2_Req2"]').style.display = "none";
						document.getElementById("id_P2_Req2").style.display = "none";
						
						document.querySelector('label[for="id_P2_Req3"]').style.display = "none";
						document.getElementById("id_P2_Req3").style.display = "none";
					}
					catch (error){
					}
				}
			{% endfor %}
		}

		function Project3(){
			var Project3 = document.getElementById("id_Three_Preference").value;			
			
			{% for n,val in projectRequirementDic.items %}
				if (Project3 == {{n}}) {
					document.querySelector('label[for="id_P3_Req1"]').style.display = "block";
					document.querySelector('label[for="id_P3_Req1"]').textContent = "{{val.0}}";
					document.getElementById("id_P3_Req1").style.display = "block";
					
					document.querySelector('label[for="id_P3_Req2"]').style.display = "block";
					document.querySelector('label[for="id_P3_Req2"]').textContent = "{{val.1}}";
					document.getElementById("id_P3_Req2").style.display = "block";
					
					document.querySelector('label[for="id_P3_Req3"]').style.display = "block";
					document.querySelector('label[for="id_P3_Req3"]').textContent = "{{val.2}}";
					document.getElementById("id_P3_Req3").style.display = "block";
				}
				
				else if (Project3 == 0){
					try { 
						document.querySelector('label[for="id_P3_Req1"]').style.display = "none";
						document.getElementById("id_P3_Req1").style.display = "none";
						
						document.querySelector('label[for="id_P3_Req2"]').style.display = "none";
						document.getElementById("id_P3_Req2").style.display = "none";
						
						document.querySelector('label[for="id_P3_Req3"]').style.display = "none";
						document.getElementById("id_P3_Req3").style.display = "none";
					}
					catch (error){
					}
				}
			{% endfor %}
		}
		
		function Project4(){
			var Project4 = document.getElementById("id_Four_Preference").value;			
			
			{% for n,val in projectRequirementDic.items %}
				if (Project4 == {{n}}) {
					document.querySelector('label[for="id_P4_Req1"]').style.display = "block";
					document.querySelector('label[for="id_P4_Req1"]').textContent = "{{val.0}}";
					document.getElementById("id_P4_Req1").style.display = "block";
					
					document.querySelector('label[for="id_P4_Req2"]').style.display = "block";
					document.querySelector('label[for="id_P4_Req2"]').textContent = "{{val.1}}";
					document.getElementById("id_P4_Req2").style.display = "block";
					
					document.querySelector('label[for="id_P4_Req3"]').style.display = "block";
					document.querySelector('label[for="id_P4_Req3"]').textContent = "{{val.2}}";
					document.getElementById("id_P4_Req3").style.display = "block";
				}
				
				else if (Project4 == 0){
					try { 
						document.querySelector('label[for="id_P4_Req1"]').style.display = "none";
						document.getElementById("id_P4_Req1").style.display = "none";
						
						document.querySelector('label[for="id_P4_Req2"]').style.display = "none";
						document.getElementById("id_P4_Req2").style.display = "none";
						
						document.querySelector('label[for="id_P4_Req3"]').style.display = "none";
						document.getElementById("id_P4_Req3").style.display = "none";
					}
					catch (error){
					}
				}
			{% endfor %}
		}
		
		function Project5(){
			var Project5 = document.getElementById("id_Five_Preference").value;			
			
			{% for n,val in projectRequirementDic.items %}
				if (Project5 == {{n}}) {
					document.querySelector('label[for="id_P5_Req1"]').style.display = "block";
					document.querySelector('label[for="id_P5_Req1"]').textContent = "{{val.0}}";
					document.getElementById("id_P5_Req1").style.display = "block";
					
					document.querySelector('label[for="id_P5_Req2"]').style.display = "block";
					document.querySelector('label[for="id_P5_Req2"]').textContent = "{{val.1}}";
					document.getElementById("id_P5_Req2").style.display = "block";
					
					document.querySelector('label[for="id_P5_Req3"]').style.display = "block";
					document.querySelector('label[for="id_P5_Req3"]').textContent = "{{val.2}}";
					document.getElementById("id_P5_Req3").style.display = "block";
				}
				
				else if (Project5 == 0){
					try { 
						document.querySelector('label[for="id_P5_Req1"]').style.display = "none";
						document.getElementById("id_P5_Req1").style.display = "none";
						
						document.querySelector('label[for="id_P5_Req2"]').style.display = "none";
						document.getElementById("id_P5_Req2").style.display = "none";
						
						document.querySelector('label[for="id_P5_Req3"]').style.display = "none";
						document.getElementById("id_P5_Req3").style.display = "none";
					}
					catch (error){
					}
				}
			{% endfor %}
		}
		
		$(document).ready(function() {
			$("label[for=id_P1_Req1]").hide();
			$("#id_P1_Req1").hide();
			$("label[for=id_P1_Req2]").hide();
			$("#id_P1_Req2").hide();
			$("label[for=id_P1_Req3]").hide();
			$("#id_P1_Req3").hide();
			
			$("label[for=id_P2_Req1]").hide();
			$("#id_P2_Req1").hide();
			$("label[for=id_P2_Req2]").hide();
			$("#id_P2_Req2").hide();
			$("label[for=id_P2_Req3]").hide();
			$("#id_P2_Req3").hide();
			
			$("label[for=id_P3_Req1]").hide();
			$("#id_P3_Req1").hide();
			$("label[for=id_P3_Req2]").hide();
			$("#id_P3_Req2").hide();
			$("label[for=id_P3_Req3]").hide();
			$("#id_P3_Req3").hide();
			
			$("label[for=id_P4_Req1]").hide();
			$("#id_P4_Req1").hide();
			$("label[for=id_P4_Req2]").hide();
			$("#id_P4_Req2").hide();
			$("label[for=id_P4_Req3]").hide();
			$("#id_P4_Req3").hide();
			
			$("label[for=id_P5_Req1]").hide();
			$("#id_P5_Req1").hide();
			$("label[for=id_P5_Req2]").hide();
			$("#id_P5_Req2").hide();
			$("label[for=id_P5_Req3]").hide();
			$("#id_P5_Req3").hide();
		});
		
	</script>
</head>
 
<body id="facultyhome">
	<div>
	<ul class="topnav" id="myTopnav">
		<li><a href={% url "home" %}>
			<img id="cubheader" src="/static/personal/images/cubheader.png" alt=""/></a></li>
		<li><a href={% url "studenthome" %}>Home</a></li>
		<li><a href={% url "viewprojects" %}>View Projects</a></li>
		<li><a id="viewfaculty" href="#viewfaculty">View Faculty Profile</a></li>
		<li><a id="profile" href="#profile">My Profile</a></li>
		<li><a id="logout" href={% url "logout" %}>Logout</a></li>
		<li class="icon">
			<a href="javascript:void(1);" onclick="myFunction()">&#9776;</a>
		</li>
	</ul>
	</div>

	<div class="wrapper">
    <div id="form-heading">
        <h3>Student Form</h3>
        <p>Please complete all the required details and click on Submit.</p>
    </div>
    <div class="form">
        <form method="POST" class="addprojects-form">
        {% csrf_token %}
        <div class="formitems">
            <h3>Student Information</h3>
                {{ studentForm.as_p }}
            <br><hr/>
            
            <section class="pressbutton">
                <button type="reset" id="clearbutton">Clear</button>
                <button id="submitbutton">Submit</button>
            </section>
        </div>
        </form>
    </div>
    
    </div>
		<script>
	function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} 
		else {
			x.className = "topnav";
		}
	}
	</script>

</body>
</html>