<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Home | Faculty</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/facultypage.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/personal/images/favicon_cuboulder.png">
</head>

<body id="facultyhome">
	<div>
	<ul class="topnav" id="myTopnav">
		<li><a href="http://www.colorado.edu/activelearningprogram/discovery-learning">
			<img id="cubheader" src="/static/personal/images/cubheader.png" alt=""/></a></li>
		<li><a href="home">Home</a></li>
		<li><a href="projects">Projects</a></li>
		<li><a id="viewstudent" href="#viewstudent">View Student Profile</a></li>
		<li><a id="profile" href="#profile">My Profile</a></li>
		<li><a id="logout" href="logout">Logout</a></li>
		<li class="icon">
			<a href="javascript:void(1);" onclick="myFunction()">&#9776;</a>
		</li>
	</ul>
	</div>
	
	<div class="facultyhomewelcome">
	<h3>Welcome to Discovery Learning Apprenticeship Program!</h3>
	<p>Please navigate to the projects tab to list your projects</p>
	<img src="/static/personal/images/facultyhomepage.jpg" alt="Welcome!"></img>
	</div>
	
	<script>
	function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} 
		else {
			x.className = "topnav";
		}
	}
	</script>

</body>
</html>