<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Discovery Learning Apprenticeship Program</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static/personal/css/reset.css" type="text/css"/>
    
</head>
<body>
	<div class="logo">
	</div>
    <div class="cognito">
	<script src="https://services.cognitoforms.com/s/WCBvCjJhXESrWE1s0pO-ng"></script>
	<script>Cognito.load("forms", { id: "1" });</script>
	</div>
</body>
</html>


