<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Projects | Faculty</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/facultypage.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/personal/images/favicon_cuboulder.png">
</head>

<body id="facultyhome">
	<div>
	<ul class="topnav" id="myTopnav">
		<li><a href="home">
			<img id="cubheader" src="/static/personal/images/cubheader.png" alt=""/></a></li>
		<li><a href="facultyhome">Home</a></li>
		<li><a href="projects">Projects</a></li>
		<li><a id="viewstudent" href="#viewstudent">View Student Profile</a></li>
		<li><a id="profile" href="#profile">My Profile</a></li>
		<li><a id="logout" href="logout">Logout</a></li>
		<li class="icon">
			<a href="javascript:void(1);" onclick="myFunction()">&#9776;</a>
		</li>
	</ul>
	</div>
	
	<div class="wrapper">
	
	<div class="button">
    <a href="addprojects" class="addprojectsbutton">Click here to add new projects</a>
	</div>
	
	<div class="projectlist">
		<h3>Existing Projects List</h3>
        <!--
		<ol type="1">
			<li><a href="#">Project 1</a></li>
			<li><a href="#">Project 2</a></li>
			<li><a href="#">Project 3</a></li>
			<li><a href="#">Project 4</a></li>
			<li><a href="#">Project 5</a></li>
			<li><a href="#">Project 6</a></li>
			<li><a href="#">Project 7</a></li>
			<li><a href="#">Project 8</a></li>
			<li><a href="#">Project 9</a></li>
		</ol>
        -->
        <ol>
            {% for n in ret %}
            <li><a href="#">{{n}}</a></li>
            {% endfor %}
        </ol>
	</div>
	</div>
	
	<script>
	function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} 
		else {
			x.className = "topnav";
		}
	}
	</script>

</body>
</html>