<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Projects | Faculty</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/facultypage.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/personal/images/favicon_cuboulder.png">
</head>

<body id="facultyhome">
	<div>
	<ul class="topnav" id="myTopnav">
		<li><a href={% url "home" %}>
			<img id="cubheader" src="/static/personal/images/cubheader.png" alt=""/></a></li>
		<li><a href={% url "facultyhome" %}>Home</a></li>
		<li><a href={% url "projects" %}>Projects</a></li>
		<li><a id="viewstudent" href="#viewstudent">View Student Profile</a></li>
		<li><a id="profile" href="#profile">My Profile</a></li>
		<li><a id="logout" href={% url "logout" %}>Logout</a></li>
		<li class="icon">
			<a href="javascript:void(1);" onclick="myFunction()">&#9776;</a>
		</li>
	</ul>
	</div>
	
	<div class="wrapper">
	
	<div class="button">
    <a href={% url "addprojects" %} class="addprojectsbutton">Click here to add new projects</a><br/>
	<a href={% url "rawmatrix" %} class="addprojectsbutton" style="background: url(/static/personal/images/view.png) 14px no-repeat #f3f3f3; background-size: 28px;">Click here to view the students who have applied to the below projects</a>
	</div>
	
		<div class="projectlist2">
		<h3>Existing Projects List</h3>
		<table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
			<thead>
				<tr>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Project Details</th>
					<th>Department</th>
					<th>Special Requirements</th>
                    <th>Faculty Name</th>
					<th>Contact number</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				{% for n in details1 %}
					<tr>
					<td>{{n.0}}</td>
					<td>{{n.1}}</td>
					<td id="projectdetailscoloumn" style="width: 300px;">{{n.2}}</td>
					<td>{{n.3}}</td>
					<td>{{n.4}}</td>
					<td id="specialrequirementscoloumn">{{n.5}}</td>
					<td>{{n.6}}</td>
					<td>{{n.7}}</td>
					</tr>
				{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
	
	<script>
	function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} 
		else {
			x.className = "topnav";
		}
	}
	</script>

</body>
</html>