<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>View Project List | Students</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/facultypage.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/personal/images/favicon_cuboulder.png">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/personal/js/script.js"></script>
	<!--<script>
		function ShowHideDivFaculty() {
			var i=0;
			var dept = new Array(100);
			{% for n,val in faculty_grp.items %}
				dept[i]= {{n}};
				i++;
			alert("I am an alert box!");
			{% endfor %}
	

	/*var selectedOption = document.getElementById("selectlist").value;
	for (var i = 0; i < 14; i++) {
		if (selectedOption == dept[i]) {
			var vip = document.getElementById(dept[i]);
			vip.style.display = "block" ;
		} else {
		try {
			var vip = document.getElementById(dept[i]);
			vip.style.display = "none" ;
			}
			catch (error){
			}
		}
	}*/
	}
	</script> -->
</head>

<body id="facultyhome">
	<div>
	<ul class="topnav" id="myTopnav">
		<li><a href="home">
			<img id="cubheader" src="/static/personal/images/cubheader.png" alt=""/></a></li>
		<li><a href="studenthome">Home</a></li>
		<li><a href="viewprojects">View Projects</a></li>
		<li><a id="viewfaculty" href="#viewfaculty">View Faculty Profile</a></li>
		<li><a id="profile" href="#profile">My Profile</a></li>
		<li><a id="logout" href="logout">Logout</a></li>
		<li class="icon">
			<a href="javascript:void(1);" onclick="myFunction()">&#9776;</a>
		</li>
	</ul>
	</div>
	
	<div class="wrapper">
	<div class="button">
    <a href="applyprojects" class="addprojectsbutton">Click here to apply for projects</a>
	</div>
	
	<br/>
	<!--
	<div class="centered-cover">
				<label>Choose an option to filter and view the projects based on Department</label>
                <select id="selectlist" onchange = "ShowHideDiv();">
						<option value="all">All Projects</option>
						{% for n,val in dep_grp.items %}
							<option value="{{n}}">{{n}}</option>
						{% endfor %}
                </select>
	</div> -->
	
	<div class="centered-cover">
				<label>Choose an option to filter and view the projects based on Faculty</label>
                <select id="selectlist" onchange = "ShowHideDivFaculty();">
						<option value="all">All Projects</option>
						{% for n,val in faculty_grp.items %}
							<option value="{{n}}">{{n}}</option>
						{% endfor %}
                </select>
	</div>
	
	<div class="projectlist2" id="all">
		<h3>All Projects</h3>
		<table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
			<thead>
				<tr>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Project Details</th>
					<th>Department</th>
					<th>Special Requirements</th>
                    <th>Faculty Name</th>
					<th>Contact number</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				{% for n in details1 %}
					<tr>
					<td>{{n.0}}</td>
					<td>{{n.1}}</td>
					<td id="projectdetailscoloumn" style="width: 300px;">{{n.2}}</td>
					<td>{{n.3}}</td>
					<td id="specialrequirementscoloumn">{{n.4}}</td>
					<td>{{n.5}}</td>
					<td>{{n.6}}</td>
					<td>{{n.7}}</td>
					</tr>
				{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
		
		{% for n,val in dep_grp.items %}
		<div id="{{n}}" style="display:none;" class="projectlist2">
		<h3>Projects hosted by Department of {{n}}</h3>

		<table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
			<thead>
				<tr>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Project Details</th>
					<th>Department</th>
					<th>Special Requirements</th>
                    <th>Faculty Name</th>
					<th>Contact number</th>
					<th>Email</th>
				</tr>
			</thead>
            <tbody>
				{% for v in val %}
					<tr>
					<td>{{v.0}}</td>
					<td>{{v.1}}</td>
					<td id="projectdetailscoloumn" style="width: 300px;">{{v.2}}</td>
					<td>{{v.3}}</td>
					<td>{{v.4}}</td>
					<td>{{v.5}}</td>
					<td>{{v.6}}</td>
					<td>{{v.7}}</td>
					</tr>
				{% endfor %}
				</tr>
			</tbody>
		</table>
		</div>
		{% endfor %}
	
	<script>
	function myFunction() {
		alert("I am an alert box!");
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} 
		else {
			x.className = "topnav";
		}
	}
	</script>

</body>
</html>