<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>View Project List | Students</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/personal/css/facultypage.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/personal/images/favicon_cuboulder.png">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
     
    <script>
        $(function(){
          $("#myTable").tablesorter({widgets: ['zebra']});
        });
    </script>
</head>

<body id="facultyhome">
	<div>
	<ul class="topnav" id="myTopnav">
		<li><a href="home">
			<img id="cubheader" src="/static/personal/images/cubheader.png" alt=""/></a></li>
		<li><a href="studenthome">Home</a></li>
		<li><a href="viewprojects">View Projects</a></li>
		<li><a id="viewfaculty" href="#viewfaculty">View Faculty Profile</a></li>
		<li><a id="profile" href="#profile">My Profile</a></li>
		<li><a id="logout" href="logout">Logout</a></li>
		<li class="icon">
			<a href="javascript:void(1);" onclick="myFunction()">&#9776;</a>
		</li>
	</ul>
	</div>
	
	<div class="wrapper">
	
	<div class="button">
    <a href="applyprojects" class="addprojectsbutton">Click here to apply for projects</a>
	</div>
	
	<div class="projectlist2">
		<h3>Existing Projects List</h3>
		<table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
			<thead>
				<tr>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Project Details</th>
					<th>Department</th>
					<th>Special Requirements</th>
                    <th>Faculty Name</th>
					<th>Contact number</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				{% for n in details1 %}
					<tr>
					<td>{{n.0}}</td>
					<td>{{n.1}}</td>
					<td id="projectdetailscoloumn" style="width: 300px;">{{n.2}}</td>
					<td>{{n.3}}</td>
					<td>{{n.4}}</td>
					<td>{{n.5}}</td>
					<td>{{n.6}}</td>
					<td>{{n.7}}</td>
					</tr>
				{% endfor %}
				</tr>
			</tbody>
		</table>
	
	<script>
	function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} 
		else {
			x.className = "topnav";
		}
	}

</body>
</html>